name: remote ssh command
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v3
    -
      name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_TOKEN }}
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    -
      name: Build and push
      uses: docker/build-push-action@v3
      with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USER }}/projectauto:latest
          # tags: ${{ secrets.DOCKER_USER }}/nama_images:latest
    - 
      name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script: |
          touch res.txt
          echo "Hello from githubAction $(date)" >> res.txt
          docker stop ${{ secrets.CONTAINER }}
          docker rm ${{ secrets.CONTAINER }}
          docker rmi ${{ secrets.DOCKER_USER }}/${{ secrets.IMAGE }}
          docker pull ${{ secrets.DOCKER_USER }}/${{ secrets.IMAGE }}
          docker run --name ${{ secrets.CONTAINER }} -e DBUSER=${{ secrets.DBUSER }} -e DBPASS=${{ secrets.DBPASSWORD }} -e DBHOST=${{ secrets.DBHOST }} -e DBPORT=${{ secrets.DBPORT }} -e DBNAME=${{ secrets.DBNAME }} -e JWT_KEY=${{ secrets.JWT_KEY }} -d -p 80:8000 ${{ secrets.DOCKER_USER }}/${{ secrets.IMAGE }}
